Repository gavar/ts-library-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, tslint -p tsconfig.json -t stylish

chore: clean task
  package.json
Due: prettier --check

chore: sort .editorconfig keys and change width to 120 chars
  .editorconfig
Due: none

chore: update 'jest' to version 24.8.0
  package.json
  yarn.lock
Due: prettier --check

chore: configure line endings
  .gitattributes
  .prettierrc.json
Due: prettier --check

fix: use eslint + @typescript-eslint instead of tslint
  .eslintrc
  .lintstagedrc.json
  package.json
  tslint.json
Due: prettier --check

chore: configure prettier
  .lintstagedrc.json
  package.json
Due: prettier --check

fix: no need to run prettier for code files - it's done by eslint
  .lintstagedrc.json
Due: prettier --check

chore: fix lint script
  package.json
Due: prettier --check

test: jest config
  jest.config.js
Due: prettier --check, tslint -p tsconfig.json -t stylish

chore: remove lib from tsconfig
  tsconfig.json
Due: prettier --check

chore: update yarn.lock
  yarn.lock
Due: none

chore: update @types/node to version 12.0.10
  package.json
  yarn.lock
Due: prettier --check

chore: update eslint rules
  .eslintrc
Due: none

chore: update tsconfig
  tsconfig.json
Due: prettier --check

fix: lint errors
  package.json
  rollup.config.ts
  tools/gh-pages-publish.ts
  tools/init.ts
  tools/semantic-release-prepare.ts
Due: prettier --check, tslint -p tsconfig.json -t stylish

update: yarn.lock
  yarn.lock
Due: none

chore: updating dependencies
  package.json
Due: prettier --check

chore: commitlint
  .commitlintrc.js
  .huskyrc
  package.json
Due: prettier --check, tslint -p tsconfig.json -t stylish

chore: remove commitizen
  package.json
Due: prettier --check

chore: sort husky hooks
  .huskyrc
Due: none

chore: remove unused dependencies
  package.json
  yarn.lock
Due: prettier --check

chore: update dependencies to latest
  package.json
  yarn.lock
Due: prettier --check

chore: rename configuration files
  .lintstagedrc
  .prettierrc
Due: none

chore: lint .*rc files
  .lintstagedrc
  .prettierrc
Due: none

chore: temporary use canary versions of eslint-plugin
  package.json
  yarn.lock
Due: prettier --check

chore: update .gitignore
  .gitignore
Due: none

chore: intellij files
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/vcs.xml
Due: none

chore: update code of conduct
  code-of-conduct.md
Due: prettier --check

fix: removing all-contributorsrc
  .all-contributorsrc
Due: none

fix: remove dummy code
  src/library.ts
  test/library.test.ts
Due: prettier --check, tslint -p tsconfig.json -t stylish

chore: configure .eslintignore
  .eslintignore
Due: none

chore: update eslint
  .eslintrc
  package.json
Due: prettier --check

fix: lodash
  package.json
  rollup.config.ts
Due: prettier --check, tslint -p tsconfig.json -t stylish

chore: disable eslint import/recommended due to poor performance
  .eslintrc
Due: none

fix: removing legacy initialization scripts
  package.json
  tools/gh-pages-publish.ts
  tools/init.ts
  tools/semantic-release-prepare.ts
Due: prettier --check, tslint -p tsconfig.json -t stylish

feat: setup tools
  package.json
  setup/bin/setup.ts
  setup/survey/index.ts
  setup/survey/survery.ts
  setup/survey/validate.ts
  setup/templates/code/src/index.ts
  setup/templates/code/test/index.test.ts
  setup/tools/constants.ts
  setup/tools/git.ts
  setup/tools/index.ts
  setup/tools/json.ts
  setup/tools/node.ts
  setup/tools/suggest.ts
Due: prettier --check, tslint -p tsconfig.json -t stylish

chore: set prettier printWidth to 100
  .editorconfig
  .idea/codeStyles/Project.xml
  .prettierrc
Due: none

chore: update version
  package.json
Due: prettier --check

Path conditions:
  prettier --check: any of: *.{js,ts,json,md}
  tslint -p tsconfig.json -t stylish: any of: *.{js,ts}
